.Left {
  text-align: left;
}

.text-center {
	text-align: center;
}


.Task-container-red {
  background-color: red;
}

.Task-container-yellow {
  background-color: yellow;
}

.Task-container-green {
  background-color: green;
}

